<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <contextName>logback</contextName>
    <property name="logPath" value="./logs"/>

    <!-- 控制台日志：输出所有级别的日志 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset='UTF-8'>
            <pattern>
                %red(%d{yy/MM/dd HH:mm:ss}) %yellow(%-5level) %green([%thread]) %boldMagenta(%logger{20}.%method):%L -- %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <!-- 文件日志：输出ERROR以下的级别日志 -->
    <appender name="infoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <encoder charset='UTF-8'>
            <pattern>%d{yy/MM/dd HH:mm:ss} %-5level %logger{20}.%method:%L --%msg%n</pattern>
        </encoder>

        <file>${logPath}/info/info.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/info/info.%d{yy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 文件日志：输出DEBUG级别的日志 -->
    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder charset='UTF-8'>
            <pattern>%d{yy/MM/dd HH:mm:ss} %logger{20}.%method:%L -- %msg%n</pattern>
        </encoder>

        <file>${logPath}/debug/debug.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/debug/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 文件日志：输出ERROR级别的日志 -->
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder charset='UTF-8'>
            <pattern>%d{yy/MM/dd HH:mm:ss} %logger{20}.%method:%L --%msg%n</pattern>
        </encoder>

        <file>${logPath}/err/err.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/err/err.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 打印SQL语句 -->
    <logger name="com.yzm.payment8001.mapper" level="DEBUG" additivity="true">
        <appender-ref ref="debugLog"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="infoLog"/>
        <appender-ref ref="errorLog"/>
    </root>

</configuration>